.rating-wrapper {
  position: relative;
  padding-top: 900px;
  width: 100%;
  z-index: 10;
  margin-bottom: 50px;
  min-height: 150vh;
}


/* TỔNG HỢP ĐÁNH GIÁ */
.rating-title {
    position: relative;
    width: 666px;
    height: 62px;
    top: 0px;
    left: 150px;
    font-family: 'Podkova';
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: #FD2727;
  }
.rating-stars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  width: 250px;
  height: 100px;
  left: 150px;
  top: 960px;
  gap: 0px;
}
.star-filled, .star-empty {
  font-size: 50px;
  color: #355F2E;
  margin-right: 5px;
}
.star-empty {
  color: #355F2E;
}
.rating-score {
  position: relative;
  width: 97px;
  height: 24px;
  left: 420px;
  top: 20px;
  font-family: 'Podkova';
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #F30041;
}
.rating-count {
  position: relative;
  width: 163px;
  height: 33px;
  left: 480px;
  font-family: 'Podkova';
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
  

/* MỖI ĐÁNH GIÁ */
.review-card {
  position: relative;
  width: 462px;
  height: 125px;
  left: 141px;
  margin-top: 30px;
}
.avatar {
  width: 100px;
  height: 100px;
  background-image: url('../../assets/img/avatar.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.review-name {
  position: absolute;
  left: 87px;
  top: 0px;
  font-family: 'Podkova';
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #7A979A;
}
.review-stars {
  position: absolute;
  top: 29.77px;
  left: 86.5px;
  display: flex;
  gap: 5px;
}
.star-small-filled, .star-small-empty {
  font-size: 30px;
  color: #355F2E;
  margin-right: 3px;
}
.star-small-empty {
  color: #355F2E;
}
.review-time {
  position: absolute;
  width: 228px;
  height: 30px;
  left: 89px;
  top: 57px;
  font-family: 'Itim';
  font-size: 20px;
  line-height: 24px;
  color: #7A979A;
}
.review-content {
  position: absolute;
  width: 373px;
  height: 38px;
  left: 89px;
  top: 87px;
  font-family: 'Itim';
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}  