@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fontvietnam: "Be Vietnam Pro", sans-serif;
  --violetcolor: #00AEEF;
  --orangecolor: #FFC107;
  --backgroundcolor: #E0F7FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  max-width: calc(100% - 80px);
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #F9C0AB;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100vh;
}

#root{
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}